/* = = = = = = = = = = Général = = = = = = = = = = */
body {
  font-family: "Genos", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.desactive {
  height: 0px;
}
/* = = = = = = = = = = Navbar = = = = = = = = = = */
#navbar {
  position: fixed;
}
#nav-content {
  background-color: rgb(2, 40, 154);
  opacity: 0.8;
  overflow: hidden;
  transition: all 2s linear;
}
#nav-content img {
  width: 4rem;
  text-align: center;
}
#nav-content ul {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 0;
}
#nav-content ul li {
  list-style-type: none;
  margin: 0 3em;
  padding: 0;
  display: inline;
}
#nav-content ul li a {
  text-decoration: none;
  color: rgba(200, 200, 200, 0.76);
  display: inline;
  transition: all ease-in-out 0.2s;
  font-size: 1.4em;
}
#nav-content ul li a:hover {
  color: rgba(255, 255, 255, 1);
}
#burger-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 40, 154);
  opacity: 0.8;
  padding-bottom: 9px;
  padding-top: 10px;
}
#burger-nav img {
  width: 50%;
  cursor: pointer;
}
/* = = = = = = = = = = Présentation = = = = = = = = = =  */
#presentation {
  background-image: url(../img/bg/desktop.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-style: italic;
  color: rgba(230, 230, 230, 0.7);
}
#salutations {
  margin-top: 50px;
}
#devtitle {
  font-size: 5rem;
  font-style: normal;
}
#recherche {
  color: rgba(0, 0, 0, 1);
}
#presentation i {
  font-size: 500%;
  color: rgba(100, 100, 100, 1);
  transition: all 0.3s ease-in;
}
.pres-ico {
  margin-top: 140px;
}
#presentation p {
  font-style: normal;
  font-size: 2em;
  font-weight: bold;
}
#pres-html i {
  color: red;
}
#pres-fe {
  color: red;
  overflow: hidden;
  max-height: 0px;
  transition: all 0.3s ease-in;
}
#pres-db i {
  color: cyan;
}
#pres-be {
  color: cyan;
  overflow: hidden;
  max-height: 0px;
  transition: all 0.3s ease-in;
}
#pres-mob i {
  color: green;
}
#pres-mo {
  color: green;
  overflow: hidden;
  max-height: 0px;
  transition: all 0.3s ease-in;
}
#pres-design i {
  color: yellow;
}
#pres-ds {
  color: yellow;
  overflow: hidden;
  max-height: 0px;
  transition: all 0.3s ease-in;
}