/* = = = = = = = = = = Général = = = = = = = = = = */
body {
  font-family: "Genos", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.desactive {
  height: 0px;
  transition: height 2s linear;
}
/* = = = = = = = = = = Navbar = = = = = = = = = = */
#nav-content {
  background-color: rgb(2, 40, 154);
  opacity: 0.8;
  overflow: hidden;
  transition: height 2s linear;
}
#nav-content img {
  width: 4rem;
  text-align: center;
}
#nav-content ul {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 0;
}
#nav-content ul li {
  list-style-type: none;
  margin: 0 3em;
  padding: 0;
  display: inline;
}
#nav-content ul li a {
  text-decoration: none;
  color: rgba(200, 200, 200, 0.76);
  display: inline;
  transition: all ease-in-out 0.2s;
  font-size: 1.4em;
}
#nav-content ul li a:hover {
  color: rgba(255, 255, 255, 1);
}
#burger-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 40, 154);
  opacity: 0.8;
  padding-bottom: 9px;
  padding-top: 10px;
}
#burger-nav img {
  width: 50%;
  cursor: pointer;
}
/* = = = = = = = = = = Présentation = = = = = = = = = =  */
